<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pepg.todolist">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_todo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_todo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity" />
        <activity android:name=".AddguideActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.ACCOUNT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Widget.WidgetProvider"
            android:label="위젯 테스트">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_basic" />
        </receiver>
        <receiver android:name=".Optional.AlarmReceiver">
            <intent-filter>
                <action android:name="com.pepg.alarm.ALARM_START" />
            </intent-filter>
        </receiver>

        <activity android:name=".Login.KakaoLoginActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".Login.KakaoSignupActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".AnalysisActivity" />
        <activity android:name=".TodayActivity"></activity>
    </application>

</manifest>